.address {
  margin-top: 20px;
}

.address__list {
  font-style: normal;  
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }  
}

.address__link {
  display: block;
  color: $text-color-dark-primary;
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }
  
  &--color-white {
    color: $text-color-light-primary;
  }
}

