.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  background-color: $bg-color-button;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: $text-color-light-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $bg-color-button-hover;
  }
}

.btn__icon--append {
  fill: currentColor;
  margin-left: 10px;
}