.features {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $bg-color-section-dark;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-color-heading;
}