.page-footer {  
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color-footer;  
}

.page-footer__wrapper {

  text-align: center;
  color: $text-color-light-primary;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;    
  } 
  
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: left;    
  }
}

.page-footer__section {

  &:first-child {     

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  
  &:last-child {

    @media screen and (max-width: 1199px) {
      margin-top: 60px;
      width: 100%;
    }
    
    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }
  }  
}

.page-footer__cta {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}