.page-footer {
  background-color: $bg-color-footer;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $text-color-footer-main;

  text-align: center;
}

.page-footer__wrapper {
  // display: flex;
  // align-items: baseline;
}