.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--no-padding-top {
    padding-top: 0;
    
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &--backgraund-dark {
    background-color: $bg-color-section-dark;
  } 
}

.section__heading {
  margin-bottom: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
    
  text-align: center;
  letter-spacing: 0.03em;
  
  color: $text-color-secondary;


  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;      
  }  
}