$bg-color-section-dark: #f5f4fa;
$bg-color-card: #FFFFFF;
$bg-color-footer: #2f303a;
$bg-color-button: #f5f4fa;
$bg-color-button-hover: #188CE8;

$text-color-main: #757575;
$text-color-heading: #212121;
$text-color-black: #000000;
$text-color-footer-main: #ffffff;
$text-color-footer-accent: rgba(255, 255, 255, 0.6);

$color-accent: #2196f3;
$color-icon: #AFB1B8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);