$bg-color-section-dark: #f5f4fa;
$bg-color-card: #FFFFFF;
$bg-color-footer: #2f303a;
$bg-color-button: #2196f3;
$bg-color-button-hover: #188CE8;
$bg-color-filter: #f5f4fa;
$bg-color-filter-hover: #2196f3;

$text-color-primary: #757575;
$text-color-secondary: #212121;
$text-color-light-primary: #ffffff;
$text-color-dark-primary: rgba(255, 255, 255, 0.6);

$color-accent: #2196f3;
$color-icon: #AFB1B8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);